# dependencies
node_modules/

# builds
dist/
build/
.next/
out/
*.tsbuildinfo

# tests
coverage/

# env / secrets (NUNCA commitar segredos)
.env
.env.local
.env.*.local

# logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# editor
.vscode/*
!.vscode/extensions.json
.idea/

# prisma
prisma/*.db
